{% extends 'public.base.fcc.html.twig' %}


{% block main %}
    <div class="row">
        <div class="col-sm-12">

            <div style="text-align: center;">
                <a href="http://www.federalcharacter.net/fcc.apk" class="btn btn-success btn-lg">
                    <i class="fa fa-download"></i><br/>Download Android App
                </a>
            </div>

        </div>
    </div>

{% endblock %}
