.download-card {
    font-size: 14px;
    font-weight: normal;
    max-width: 400px;
}

.download-card {
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.download-card:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.download-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.125rem;
}

.download-card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.download-card-title {
    margin-bottom: 15px;
}

.download-card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.download-card-text:last-child {
    margin-bottom: 15px;
}

.download-card-link{
    color: #2196f3;
}

.download-card-link:hover,
.download-card-link:visited,
.download-card-link:focus{
    text-decoration: none;
    color: #0a6ebd;
}

.download-card-link:hover{
    /*background-color: #E9F4FD;*/
}

.download-card-link.bordered{
    padding: 2px 12px;
    border: 1px solid #2196f3;
    border-radius: 24px;
}

.download-card-link.bordered:hover{
    border: 1px solid #0a6ebd;
    background-color: #E9F4FD;
}

.download-card-link + .download-card-link {
    margin-left: 1.25rem;
}

.download-card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
}

.download-card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
}

.download-card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.download-card-header:first-child {
    border-radius: calc(0.125rem - 1px) calc(0.125rem - 1px) 0 0;
}

.download-card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.download-card-footer:last-child {
    border-radius: 0 0 calc(0.125rem - 1px) calc(0.125rem - 1px);
}

.download-card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.download-card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.download-card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.download-card-img {
    width: 100%;
    border-radius: calc(0.125rem - 1px);
}

.download-card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.125rem - 1px);
    border-top-right-radius: calc(0.125rem - 1px);
}

.download-card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0.125rem - 1px);
    border-bottom-left-radius: calc(0.125rem - 1px);
}


.download-card .download-card-header {
    padding: 1rem;
    background-color: transparent;
}

.download-card .download-card-block {
    padding: 1.5rem 1rem 1rem;
}

.download-card h1.download-card-title,
.download-card h2.download-card-title,
.download-card h3.download-card-title,
.download-card h4.download-card-title,
.download-card h5.download-card-title,
.download-card h6.download-card-title {
    font-size: 22px;
    font-weight: 300;
}

.download-card .bmd-card-actions,
.download-card .download-card-footer {
    padding: .5rem;
}

.download-card.bmd-card-raised {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}