{% extends 'base.export.pdf.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-12">
            {% include 'reporting/_fed_level_comparative_manpower_report.html.twig' %}
        </div>
    </div>
{% endblock %}
