{% extends 'base.login.html.twig' %}

{% block title %}LOGIN{% endblock %}

{% block heading %}Sign In{% endblock %}
{% block main %}

    <div class="login-container">
        <form method="post" action="{{ path('login') }}" onsubmit="showLoading();">
            <div class="form-group">
                <input type="text" name="_username" value="{{ last_username }}"
                       class="form-control" placeholder="Enter Your Username" autocomplete="off" />
            </div>
            <div class="form-group">
                <input type="password" name="_password"
                       class="form-control" placeholder="Enter Your Password" autocomplete="off" />
            </div>
            <div class="form-group">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </div>
        </form>

        <div style="text-align: center;margin-top: 10px;">
            <a href="{{ path('reset_password') }}" class="btn btn-small btn-link">
                Forgot Password?
            </a>
        </div>

    </div>

{% endblock %}

{% block javascripts %}{% endblock %}